.DS_Store
# datasets/genius/*.txt
# datasets/kaggleData/*.txt
# Lyrics_*.txt
/datasets/topArtists.txt
geniusToken.txt
/datasets/archive
/datasets/df_songs.csv
log.txt
logSH.txt
/datasets/df_songs.csv
/trainingRuns
/trainingRuns/*
